
:root {
    --metal: rgb(94, 55, 55);
    --gold: rgb(234, 190, 67);
    --bg: #595e4e ;
    --green:  rgb(28, 116, 28);
    --blue:   rgb(18, 81, 130);

  }

  #bottomToolBar {
    visibility: collapse;
    display: flex;
    flex-direction: row;
    gap: 50px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    bottom: 0;
    background-color: rgb(65, 65, 65);
    text-align: center;
    padding: 15px;
    z-index: 1000;
    width: max-content;
    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid var(--gold);
    color: var(--gold);
    font-size: 11px;
    z-index: 3000;
  }

  #welcomeScreenRaceSelector {
     visibility: collapse;
    position: fixed;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    z-index: 1000;
    width: max-content;
    border-radius: 10px 10px 0px 0px;
    border-top: 1px solid var(--gold);
    bottom: 0;
    margin: 0px;
    background-color: #3a3334;
    box-shadow: -10px 10px 10px #00000080;

  }


@font-face {
    font-family: 'Press Start 2P';
    src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
  }

body {
    background-color: rgb(0, 0, 0);
    gap: 10px;
    color: white;
    border: 0px solid coral;
    margin: 0px;
    min-width: 100vw;
    min-height: 100vh;
    cursor: url(./assets/cursor/skyrim.cur), auto;
    font-family: 'Press Start 2P';font-size: 1rem;
    overflow: hidden;
}

.canvas-moved {
    transform: translate(0, 0); /* Initial position */
  }
  

  .canvas-container {
    position: absolute;
    top: 0;
    left: 0;
   /*  width: 1000px;  
    height: 1000px; */
    overflow:visible;
}

.canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    image-rendering: pixelated;
    border: solid 0px gold;
}

#welcomePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #595e4e;
    padding: 60px;
    border-radius: 30px;
    border: solid 7px rgb(58, 69, 58);
    z-index: 310;
    text-align: center;
    justify-content: center;
    width: 300px;
    align-items: center;
    background-image: url("https://img.freepik.com/premium-vector/old-wooden-texture-cover-from-planks-seamless-pattern_191307-837.jpg?w=360");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    max-height: 550px;
    box-shadow: inset -10px -10px 10px #00000080;
}

#welcomeScreen {
    display: flex;
    flex-direction: column;
    background-color: #595e4e;
    border-radius: 0px;
    border: solid 0px green;
    z-index: 310;
    text-align: center;
    justify-content: center;
    width: 100vw;
    align-items: center;
    background-image: url("./assets/UI/welcome-background.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 100vh;
}


/* Specific z-index for each canvas layer */
#groundCanvas {
    z-index: 20;
}

#waterCanvas {
    z-index: 10;
}

#npcCanvas {
    z-index: 30;
}

#treeCanvas {
    z-index: 3000;
}

#validCells {
    margin: 0px;
    margin-top: 0px;
}

#minimap{
    visibility: hidden;
    background-color: rgb(58, 11, 53);
    scale: 0.8;
    height: 0px;
}

  #tools {
    position: fixed; /* Fixed position */
    top: 10px;       /* Distance from the top */
    right: 10px;     /* Distance from the right */
    z-index: 1000;   /* Layering order (higher means closer to the viewer) */
  }

  #toolTabs {
    display: flex;
    flex-direction: row;
    margin-bottom: -15px;
    margin-left: 20px;
    justify-content: end;
  }

  h1 {
    line-height: 1.4;
    color: var(--gold);
    text-shadow: 3px 5px var(--green);
  }
  

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #454a3f;
    padding: 10px;
    border-radius: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    background-color: #454a3f;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


#generateButton {
    margin: 10px;
}




.card {
    display: flex;
    flex-direction: column;
    padding: 7px;
    border-radius: 10px;
    gap: 20px;
    z-index: 99;
    box-shadow: 2px 3px 50px 3px rgba(4, 0, 255, 0.176);
    border: 2px solid rgba(41, 178, 105, 0.13);
    border: 11px solid rgb(82, 82, 82);
    margin: 5px;
    background-color: var(--bg);

}

.secondaryBtn {
    background-color: grey;
    font-size: 14px;
    width: fit-content;
    font-size: 10px;
}



#tools {
    min-width: 200px;
    max-width: 900px;
}

range {
    max-width: 100px;
}

#gameTab {
    height: fit-content;
}


.tabSelector {
background-color: rgb(35, 45, 56);
border-radius: 15px 15px 0px 0px;
border-radius: 10px;
padding: 20px;
height: 20px;
max-height: 30px;
cursor: url(./assets/cursor/glove1.cur), auto;
user-select: none;

}

.tabSelector:hover {
    background-color: var(--green);
    transition: background-color 0.3s ease;
    }

    .active {
    background-color: var(--blue)
    }

button {
    background-color: var(--green);
    border-radius: 8px;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Press Start 2P';
    font-size: 1rem;
    border: solid 3px var(--gold);
    transition: background-color 0.3s ease;
cursor: url(./assets/cursor/glove1.cur), auto;

}


       /* ui background color for behind buttons    ---->  #454a3f */ 

button:hover {
    background-color: rgb(70, 40, 180);
    box-shadow: 3px 8px 40px rgba(70, 19, 164, 0.803);
    scale: 1.01;
}

#water {
    background-color: rgb(69, 141, 236);
}

#gridSizeSlider {
    width: 300px;
}

p,
label {
    font-family: 'Press Start 2P';
    font-size: 1rem;
}

input {
    margin: 0.4rem;
}


  .blueButton{
    background-color: rgb(18, 81, 130);
  }


  /* Style the table */
table {
    border-collapse: collapse;
    background-color: rgba(46, 131, 60, 0.414);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    max-height: 400px !important;
    height: 375px;
}

/* Style table headers */
thead th {
    background-color: rgba(54, 130, 224, 0.414);

    text-align: left;
    padding: 10px;
    font-weight: bold;
}

/* Style table rows */
tbody td {
    border-top: 1px solid #cccccc3a;
    padding: 10px;
}


/* Add hover effect on rows */
tbody tr:hover {
    background-color: #1f41a93e;
}

range {
    color: red;
}

input[type="range"] {
    color: red !important;
    background-color: red;
}


.male {
    background-color: rgb(25, 64, 136);
    color: #89c3fd;
    font-weight: 900;
}

.female {
    background-color: rgba(147, 27, 111, 0.749);
    color: #fff
}

.curto {
    width: fit-content;
}

button:disabled {   
    background-color: #d3d3d3; /* Light gray */
    color: #a0a0a0;
    cursor: not-allowed;
}



#npcTab {
        /* Adjust the value considering the header's height */
    /* Allow the table to have a vertical scrollbar when it exceeds the parent's height */
/*     max-height: calc(100% - 90px);
 */
    max-height: calc(100vh - 168px); 
    overflow-y: auto;
}

#npcTable {
    /* Add a bit of padding to the right to account for the scrollbar's width */
    padding-right: 15px;
    width: 100%;
    border-collapse: collapse;
    height: 350px;
}


#elfCounselor1 {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-20%);
    bottom: 0;
    max-height: 70vh;
}


/* displays individual npc info */
#infoPanel {
    background-color: #454a3f;
    padding: 20px;
    margin: 5px;
    border: 3px solid green;
    border-radius: 20px;
    line-height: 1.5;
    max-width: 500px;
    max-height: 500px;
}


#notificationContainer {
    max-width: 100%;
    margin: 0 auto;
    overflow: auto; /* Hide vertical overflow from parent */
    max-height: 430px; /* Set the maximum height */
  }
  
  #notificationTable {
    width: 100%;
    max-height: 300px; /* Set the maximum height */
    border-collapse: collapse;
    border: 1px solid #ccc;
    overflow: auto; /* Add a scrollbar if needed */
  }
  
  #notificationTable th,
  #notificationTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }



  .race-card {
    background-color: #cfbb97; /* Creamy background */
    border: 3px solid var(--gold);
    border-radius: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin: 0 20px;
    color: var(--gold);
cursor: url(./assets/cursor/glove1.cur), auto;
transition: box-shadow 1s;
transition: scale 1s;
box-shadow: inset -10px -10px 10px #00000080;

}

.race-card:hover {
    transform: translateY(-5px);
    scale: 1.01;
    box-shadow: 3px 8px 40px rgba(70, 19, 164, 0.803);
}

#purriesWelcomeSelector:hover {
    box-shadow: 3px 8px 40px rgba(184, 138, 20, 0.803);
}


#kurohiWelcomeSelector:hover {
    box-shadow: 3px 8px 40px rgba(0, 0, 0, 0.803);
}

.race-image {
    max-width: 100%;
    border-radius: 20px 20px 0px 0px;
    border: 0px solid #8b6d46; /* Gold-colored border for the image */
}

.race-title {
    font-size: 24px;
    margin-top: -30px;
    color: #d7ae17; /* Green title color */
    text-shadow: 2px 3px black;
}

.race-description {
    font-size: 16px;
    margin-top: 10px;
}

.race-card p {
    text-align:left;
    color: var(--bg);
    margin-left: 5px;
    font-size: 13px;
}

#logoWelcomeScreen {
    height: 200px;
    width: 200px;
}

#mobileAlert {
    display: none;
}


.custom-scrollbar {
    /* Define the size and style of your custom scrollbar */
    width: 10px;
    background-color: #ccc;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    /* Adjust this based on your layout */
}




@media only screen and (max-width: 600px) {
    


    button {
        font-size: 12px;
        height: 40px !important;
    }

    #welcomePopup {
        max-height: fit-content;
        padding: 10px;
        gap: 5px;
        width: fit-content;
    }



    #titleWelcomeScreen {
font-size: 16px;
    }

    #logoWelcomeScreen {
        height: 100px;
        width: 100px;
    }


    #elfCounselor1 {
        max-height: 50vh;
        top: 60%;

    }

    #mobileAlert {
        display: block;
        visibility: visible;
    }



  }