body { 
    background-color: black;
    font-family: Arial, sans-serif; 
    color: white; 
}

.col { 
    flex: 1; 
    flex-direction: column; 
}
.row { 
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;  
}
.function { 
    border: 1px solid rgba(90, 123, 166, 0.597); 
    background-color: rgb(80, 146, 189); 
    padding: 5px; 
    margin: 5px; 
    border-radius: 5px; 
    max-width: 200px;
}
.function:hover { 
    background-color: rgb(90, 156, 199); 
    cursor: pointer;
}

.variable { 
    border: 1px solid rgba(90, 123, 166, 0.597); 
    background-color: rgb(53, 33, 167); 
    padding: 5px; 
    margin: 5px; 
    border-radius: 5px;
    font-size: 9px; 
}

.function-variables { 
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin: 3px; 
}	

